:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --bg-color: #242424;
  --profile-picture-size: 24px;
  --card-shadow-size: 3px;
  --card-shadow-color: grey;
  --card-header-bg-color: #646464;
}

.board {
  display: flex;
  gap: 1em;
  margin: 0 1em;
  flex-direction: column;

  @media (min-width: 1200px) {
    flex-direction: row;
    .column {
      flex: 1 1 0;
      width: 0; /* required for same size columns */
    }
  }
  h2 {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 1000;
    border-bottom: 1px solid var(--card-header-bg-color);
  }
}

.profile-picture {
  height: var(--profile-picture-size);
  width: var(--profile-picture-size);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  box-shadow: var(--card-shadow-size) var(--card-shadow-size)
    var(--card-shadow-size) var(--card-shadow-color);
  position: relative;
  overflow: hidden;

  h3 {
    margin: 0;
    border-bottom: 1px solid #e1e4e8;
    background-color: var(--card-header-bg-color);
    padding: 0 0.3em;
  }

  .body {
    padding: 0.5em;
  }

  .profile-picture {
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
  }
}

ul.labels {
  display: flex;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.label {
  padding: 0.2em 0.5em;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;

  --shadow-size: 0.1em;
  --shadow-blur: 0.2em;
  --dark-bg-text: #fff;
  --light-bg-text: #000;

  &.dark {
    color: var(--dark-bg-text);
    text-shadow: var(--light-bg-text) var(--shadow-size) var(--shadow-size)
      var(--shadow-blur);
  }
  &.light {
    color: var(--light-bg-text);
    text-shadow:
      var(--dark-bg-text) var(--shadow-size) var(--shadow-size)
        var(--shadow-blur),
      var(--dark-bg-text) var(--shadow-size) calc(-1 * var(--shadow-size))
        var(--shadow-blur),
      var(--dark-bg-text) calc(-1 * var(--shadow-size)) var(--shadow-size)
        var(--shadow-blur),
      var(--dark-bg-text) calc(-1 * var(--shadow-size))
        calc(-1 * var(--shadow-size)) var(--shadow-blur);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    color: #213547;
    --card-header-bg-color: #d9d9d9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
